$background: rgba(0, 0, 0, .85);
$foreground: #ffffffcc;

$font-family: 'SF Pro Text', 'GeistMono NFP', sans-serif;
$font-size: 16px;

$spacing: 10px;

$unfocused-workspace-color: rgba(255, 255, 255, .3);
$focused-workspace-color: #ffffff;

$outer-margin-top: 10px;
$outer-margin-bottom: 0px;
$outer-margin-left: 10px;
$outer-margin-right: 10px;

$module-min-height: 35px;
$module-border-radius: 50px;
$module-bg-color: rgba(0, 0, 0, .85);

$border-color: rgba(242, 242, 242, 0.12);