// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

$font-size: 16px;

$unfocused-workspace-color: rgba(255, 255, 255, .3);
$focused-workspace-color: #ffffff;

$outer-margin-top: 10px;
$outer-margin-bottom: 0px;
$outer-margin-left: 10px;
$outer-margin-right: 10px;

$module-min-height: 35px;
$module-border-radius: 50px;
$module-bg-color: rgba(0, 0, 0, .85);
$border-color: rgba(242, 242, 242, 0.12);

* {
    all: unset;
    font-family: 'SF Mono', 'GeistMono NFP', sans-serif;
    font-size: $font-size;
}

window {
    background: transparent;
}

.bar {
    background: transparent;

    centerbox {
        margin: $outer-margin-top $outer-margin-right $outer-margin-bottom $outer-margin-left;
    }

    .area {
        background: transparent;

        &>.module {
            margin-right: 5px;
        }

        &>.module:last-child {
            margin-right: 0;
        }
    }

    .module {
        min-height: $module-min-height;
        background-color: $module-bg-color;
        border-radius: $module-border-radius;
        padding: 2px 15px;
        box-shadow: inset 0 0 0 0px $border-color;
    }
}

.module.workspaces button {
    //background: $unfocused-workspace-color;
    color: $unfocused-workspace-color;
    margin: 0 5px;

    min-width: 6px;
    min-height: 6px;

    border-radius: 50%;

    transition: background-color 0.2s ease-in-out;

    &.focused {
        //background: $focused-workspace-color;
        color: $focused-workspace-color;
        font-weight: bold;
    }
}

.module.mpris>*:not(:last-child) {
    padding-right: 15px;
}

.module.media>*:not(:last-child) {
    padding-right: 15px;
}

.module.cava drawingarea {
    min-width: 50px;
}