@import "./functions.scss";
@import "./variables.scss";

/*
.module.workspaces button {
    & > label {
        color: $unfocused-workspace-color;
        font-family: "GeistMono Nerd Font Propo";
        font-size: 16px;
    }

    margin: 0 5px;

    min-width: 6px;
    min-height: 6px;

    border-radius: 50px;

    transition: background-color 0.25s ease-in-out;

    &.focused > label {
        color: $focused-workspace-color;
        font-weight: bold;
    }
}
    */

.workspaces {
    padding-top: 0.87em;
    padding-bottom: 0.87em;
    //padding-left: 0.25em;
    //padding-right: 0.25em;

    @include space-between-x(7px);

    .workspace-indicator {
        @include rounded-full;

        font-size: 0.1px;

        transition-property: min-width, background-color;
        transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
        transition-duration: 200ms;

        min-height: 10px;
        min-width: 10px;

        margin-bottom: -0.2em;
        margin-top: -0.2em;

        background-color: mix($background, $foreground, 50%);

        &.active {
            min-height: 5px;
            min-width: 20px;

            //margin-bottom: -0.3em;
            //margin-top: -0.3em;

            background-color: #fff;
        }
    }
}
