@import "./variables.scss";

.module.media .now-playing {
    font-size: $font-size;
    padding-right: calc($spacing + 2px); // Just so it looks good.
    border-right: 1px solid $border-color;
    font-weight: 600;
}