@use 'sass:color';

@import "./variables.scss";

$media-menu-padding: 30px;

.media-menu-container {
    background-color: color.change($module-bg-color, $alpha: .6);
    min-width: 300px;
    border-radius: 25px;

    box-shadow: inset 0 0 0 1px $border-color;

    margin-top: $outer-margin-top;
    margin-left: $outer-margin-left;

    &>*:not(:first-child) {
        margin-top: calc($media-menu-padding / 2);
    }

    &>*:last-child {
        margin-bottom: $media-menu-padding;
    }
}

.player-icon {
    font-size: 16px;
}

.now-playing {
    font-size: 12px;
}

.track-info {
    padding: 0 $media-menu-padding;

    & label {
        font-size: 16px;

        &.track-name {
            font-family: $font-family-display;
            font-size: 20px;
            font-weight: 700;
        }

        &.artist-name {
            font-weight: 500;
        }
    }
}

.cover-art {
    background-size: cover;
    min-width: 250px;
    min-height: 250px;
    margin: $media-menu-padding $media-menu-padding 0 $media-menu-padding;
    border-radius: 12px;
}

.position-slider {
    margin: 10px 0 2px;
    padding: 0 30px;
}

.position-slider trough {
    background-color: #ffffff22;
    border-radius: 24px;
    min-height: 5px;
}

.position-slider trough highlight {
    background-color: $foreground;
    border-radius: 24px;
    min-height: 5px;
}

.position-label {
    margin: 0 30px;
}

.position-label label {
    font-weight: 400;
    font-size: 13px;

    padding-top: 2px;
}

.media-controls {
    & icon {
        font-size: 32px;
    }
}

.play-button {
    background-color: color.change($foreground, $alpha: 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    padding: 5px;
}

.loop-button {
    font-size: 30px;
}

.shuffle-button {
    font-size: 30px;
}

.loop-button.active {
    color: $foreground;
}

.shuffle-button.active {
    color: $foreground;
}

.next-button {
    margin: 0 0 0 15px;
}

.previous-button {
    margin: 0 15px 0 0;
}

.loop-button {
    margin: 0 0 0 25px;
}

.shuffle-button {
    margin: 0 25px 0 0;
}